{
  "service_account_name": "{{ service_account_name }}",
  "service_account_group": "{{ service_account_group }}",
  "catalog_service_role": "{{ catalog_service_role }}",
  
  "odbc_driver": "{{ odbc_driver }}",
  "db_host": "{{ db_host }}",
  "db_port": "{{ db_port }}",
  "db_name": "{{ db_name }}",
  "db_user": "{{ db_user }}",
  "db_password": "{{ db_password }}",

  
  "zone_name": "{{ zone_name }}",
  "zone_port": "{{ zone_port }}",
  "parallel_port_range_begin": "{{ parallel_port_range_begin }}",
  "parallel_port_range_end": "{{ parallel_port_range_end }}",
  "control_plane_port": "{{ control_plane_port }}",
  "schema_validation_base_uri": "{{ schema_validation_base_uri }}",
  "irods_admin_username": "{{ irods_admin_username }}",
  
  "zone_key": "{{ zone_key }}",
  "negotiation_key": "{{ negotiation_key }}",
  "control_plane_key": "{{ control_plane_key }}",
  "irods_admin_password": "{{ irods_admin_password }}",
  

}
